In [11]:
import pandas as pd
import numpy as np

df = pd.read_csv('Marital_satisfaction_Data.csv')

In [12]:
df.head()

,Country,Sex,Age,Marriage_duration,Number_of_children,Num_brought_up_children,Education,Material status,Religion,Religiosity,...,Unnamed: 21,Unnamed: 22,GLOBE_survey,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30
0,Brazil,1,21.0,2.0,0,0,5,3,1.0,4,...,7,7,1,1,1,1,1,1,1,1
1,Brazil,1,29.0,3.0,1,0,5,3,1.0,6,...,6,6,2,1,1,1,1,1,1,1
2,Brazil,1,30.0,7.0,0,0,5,3,1.0,4,...,7,7,2,1,2,1,1,1,1,1
3,Brazil,1,30.0,7.0,1,1,5,3,1.0,6,...,6,6,3,1,1,2,1,1,1,1
4,Brazil,1,28.0,9.0,0,0,4,2,1.0,5,...,6,7,3,2,3,2,1,1,1,1